{% extends 'accounts/base.html' %}

{% block import_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.min.css">
{% endblock %}

{% block content %}

{% for message in messages %}
    <p id="messages">{{message}}</p>
{% endfor %}

{% if wh_approved %}
    <span class="bg-danger text-white">Esta donación ya fue aprobada</span>
{% else %}

<table id="products" class="table table-striped table-bordered table-product" style="width:100%">
    <thead>
        <tr>
            <th>Nombre de producto</th>
            <th>Cantidad por confirmar</th>
            <th>Editar cantidad</th>
            <th>Eliminar producto</th>
        </tr>
    </thead>
    <tbody id="table-body">
        {% for product_donation in product_donations %}
        <tr id="{{product_donation.id}}">
            <td>{{product_donation.product.name}}, {{product_donation.product.quantity}} {{product_donation.product.measurement}}</td>
            <td>
                <span >{{product_donation.stock}}</span>
            </td>
            <td>
                <button class="fas fa-edit" data-toggle="modal" data-target="#update_product" data-id="{{product_donation.id}}"
                data-name="{{product_donation.product.name}}, {{product_donation.product.quantity}} {{product_donation.product.measurement}}"
                data-quantity="{{product_donation.stock}}"></button>
            </td>
            <td>
                <button class="fas fa-trash-alt" data-toggle="modal" data-target="#delete_product" data-id="{{product_donation.id}}"
                data-name="{{product_donation.product.name}}, {{product_donation.product.quantity}} {{product_donation.product.measurement}}"
                </button>
            </td>
        </tr>
        {% endfor %}
    </tfoot>
</table>

<div id="main-panel" class="row" >
    <div id="panel-button" class="card border-primary border-left-primary col-md-4 offset-md-4">
        <div class="card-body">
            <h5 id="main-panel-title" class="card-title text-primary">Panel de recepción de donación</h5>
            <div class="row">
                <div id="show_add_product" class="">
                    <div class="col text-center">
                        <button id="add_product" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-product-modal">Añadir nuevo producto</button>
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div id="confirm_button_row" c>
                        <div class="col text-center">
                            <button id="confirm_button" class="btn btn-primary btn-lg" name="confirm_button">Confirmar recepción</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update_product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <p id="update_product_error" ></p>
            <label for="update-product-name" class="col-form-label">Producto:</label>
            <input type="text" class="form-control" id="update-product-name" disabled>
            <input type="hidden" id="update_product_id">
          </div>
          <div class="form-group">
            <label for="update-product-quantity" class="col-form-label">Número de unidades actuales:</label>
            <input type="text" class="form-control" id="update-product-quantity" disabled>
          </div>
          <div class="form-group">
            <label for="update-product-new-quantity" class="col-form-label">Nuevo Número de unidades:</label>
            <input type="text" class="form-control" id="update-product-new-quantity" >
          </div>
          <div class="form-group">
            <label for="update-product-comment" class="col-form-label">Seleccionar motivo de actualización:</label>
            <select class="form-control" id="select-reason">
                <option value="Fecha de vencimiento">
                    Fecha de vencimiento
                </option>
                <option value="Daño de fabrica">
                    Daño de fabrica
                </option>
                <option value="Otro">
                    Otro
                </option>
            </select>
          </div>
          <div class="form-group">
            <label for="update-product-comment" class="col-form-label">Comentario:</label>
            <textarea class="form-control" id="update-product-comment"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="product_quantity_update">Actualizar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Añadir nuevo producto</h5>
        <p id="new_product_error" ></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <label for="select-product" class="form-control-label">Seleccionar productos</label>
            <select class="form-control selectpicker" id="select-product" data-live-search="true">
            <!--<option data-tokens="china">China</option> -->
            {% for product in products %}
                <option data-tokens="{{product.id}}">{{product.name}} {{product.measurement}} {{product.quantity}}</option>
            {% endfor %}
            </select>
            <label for="quantity" class="form-control-label">Cantidad a donar</label>
            <input class="form-control" id="quantity" type="number">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="add_new_product">Crear producto</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_product_title">Eliminar producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <p id="delete_product_error"></p>
            <label for="update-product-name" class="col-form-label">Está seguro que desea eliminar este producto de la donación:</label>
              <span type="text" class="form-control" id="delete_product_name" disabled></span>
              <input type="hidden" id="delete_product_id">
          </div>
          <div class="form-group">
            <label for="delete-product-comment" class="col-form-label">Comentario:</label>
            <textarea class="form-control" id="delete-product-comment"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="product_delete">Eliminar</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}

{% block import_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"> </script>
{% endblock %}

{% block js %}

    $('#delete_product').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var name = button.data('name');
        var modal = $(this);
        modal.find('.modal-body #delete_product_id').val(id);
        modal.find('.modal-body #delete_product_name').text(name);
    })

    $('#product_delete').click(function() {
        var id = $('#delete_product_id').val();
        var comment = $('#delete-product-comment').val();

        if(!comment){
            $('#delete_product_error').addClass("bg-gradient-danger");
            $('#delete_product_error').addClass("text-gray-200");
            $('#delete_product_error').text("Debes poner un comentario justificando la eliminación");
        }
        else{
            $('#delete-product-comment').val("");

            $.ajax({
                url: '/ajax/delete_product_donation/',
                data: {
                  'id': id,
                  'comment': comment,
                },
                dataType: 'json',
                traditional: true,
                success: function (data) {
                  if (data.correct) {
                    $("#"+id).remove();
                    $('#donation_weight').text(data.donation_weight + " Kilos");
                  }
                }
            });
            $('#delete_product').modal('toggle');
        }
      });

    $('#update_product').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var name = button.data('name');
        var quantity = button.data('quantity');;
        var modal = $(this);
        modal.find('.modal-title').text('Cambiar numero de unidades');
        modal.find('.modal-body #update_product_id').val(id);
        modal.find('.modal-body #update-product-name').val(name);
        modal.find('.modal-body #update-product-quantity').val(quantity);
    });

    $('#add_new_product').click(function() {
        let donation_id = {{id_donation}}
        var product_id = $('#select-product option:selected').attr('data-tokens');
        var quantity = $('#quantity').val();

        if(!quantity){
            $('#new_product_error').addClass("bg-gradient-danger");
            $('#new_product_error').addClass("text-gray-200");
            $('#new_product_error').text("Debes indicar la cantidad");
        }
        else{
            $.ajax({
                url: '/ajax/add_product_donation/',
                data: {
                  'donation_id': donation_id,
                  'product_id': product_id,
                  'quantity': quantity,
                },
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    if (data.correct) {
                        let table_body = document.getElementById('table-body');
                        let row = document.createElement('tr');
                        row.setAttribute("id", data.new_product_id);
                        let td_product = document.createElement('td');
                        td_product.appendChild(document.createTextNode(data.product_name));
                        row.appendChild(td_product);
                        let td_stock = document.createElement('td');
                        td_stock.appendChild(document.createTextNode(data.stock));
                        row.appendChild(td_stock);

                        let actions = document.createElement('td');
                        let update_button = document.createElement('button');
                        update_button.setAttribute("class", "fas fa-edit");
                        update_button.setAttribute("data-toggle", "modal");
                        update_button.setAttribute("data-target", "#update_product");
                        update_button.setAttribute("data-id", data.new_product_id);
                        update_button.setAttribute("data-name", data.product_name);
                        update_button.setAttribute("data-quantity", data.stock);
                        actions.appendChild(update_button);
                        row.appendChild(actions);

                        let action_delete = document.createElement('td');
                        let delete_button = document.createElement('button');
                        delete_button.setAttribute("class", "fas fa-trash-alt");
                        delete_button.setAttribute("data-toggle", "modal");
                        delete_button.setAttribute("data-target", "#delete_product");
                        delete_button.setAttribute("data-id", data.new_product_id);
                        delete_button.setAttribute("data-name", data.product_name);
                        action_delete.appendChild(delete_button);
                        row.appendChild(action_delete);

                        table_body.appendChild(row);
                    }
                    else if(data.exists){
                        $('#new_product_error').addClass("bg-gradient-danger");
                        $('#new_product_error').addClass("text-gray-200");
                        $('#new_product_error').text("Producto ya en donación, actualiza!");
                    }
                }
            });
            $('#add-product-modal').modal('toggle');
        }
    });

    $('#product_quantity_update').click(function() {
    var id = $('#update_product_id').val();
    var quantity = $('#update-product-quantity').val();
    var new_quantity = $('#update-product-new-quantity').val();
    var comment = $('#update-product-comment').val();
    let select_reason = $('#select-reason').val();
    if(!comment){
        $('#update_product_error').addClass("bg-gradient-danger");
        $('#update_product_error').addClass("text-gray-200");
        $('#update_product_error').text("Debes poner un comentario justificando el cambio");
    }
    else if(parseInt(new_quantity)<1){
        $('#update_product_error').addClass("bg-gradient-danger");
        $('#update_product_error').addClass("text-gray-200");
        $('#update_product_error').text("La cantidad debe ser mayor a 1");
    }
    else if(select_reason==""){
        $('#update_product_error').addClass("bg-gradient-danger");
        $('#update_product_error').addClass("text-gray-200");
        $('#update_product_error').text("Debes seleccionar el motivo de la actualización");
    }
    else{
        $('#update-product-new-quantity').val("");
        $('#update-product-comment').val("");

        $.ajax({
            url: '/ajax/update_quantity/',
            data: {
              'id': id,
              'quantity': quantity,
              'new_quantity': new_quantity,
              'reason' : select_reason,
              'comment': comment,
            },
            dataType: 'json',
            traditional: true,
            success: function (data) {
              if (data.correct) {
                $("#"+id).find("td:nth-child(2)").html(data.new_quantity);
                $("#"+id).find("button").attr("data-quantity", data.new_quantity);
              }
            }
        });
        $('#update_product').modal('toggle');
    }
  });

    $('.datepicker').datepicker();

    $('.comment').change(function () {

        var comment = $(this).val();
        var this_id = $(this).attr('id');
        var id = this_id.split("-")[1];
        $.ajax({
        url: '/ajax/update_comment/',
        data: {
          'id': id,
          'comment': comment
        },
        dataType: 'json',
        success: function (data) {
          if (data.correct) {
            //alert("Actualizo la fecha del producto");
          }
          else {
            //alert("Problema al actualizar la fecha del producto");
          }
        }
      });
    });

    $('.condition').change(function () {

        var condition = $(this).val();
        var this_id = $(this).attr('id');
        var id = this_id.split("-")[1];
        $.ajax({
        url: '/ajax/update_condition/',
        data: {
          'id': id,
          'condition': condition
        },
        dataType: 'json',
        success: function (data) {
          if (data.correct) {
            //alert("Actualizo la fecha del producto");
          }
          else {
            //alert("Problema al actualizar la fecha del producto");
          }
        }
      });
    });

    $('.expiration_date').change(function () {
        var expiration_date = $(this).val();
        var this_id = $(this).attr('id');
        var id = this_id.split("-")[1];
        $.ajax({
        url: '/ajax/update_expiration_date/',
        data: {
          'id': id,
          'expiration_date': expiration_date
        },
        dataType: 'json',
        success: function (data) {
          if (data.correct) {
            //alert("Actualizo la fecha del producto");
          }
          else {
            //alert("Problema al actualizar la fecha del producto");
          }
        }
      });
    });

    $('.brand').change(function () {
        brand_id = $(this).val();
        var this_id = $(this).attr('id');
        var id = this_id.split("-")[1];

        $.ajax({
        url: '/ajax/update_brand/',
        data: {
          'id': id,
          'brand_id': brand_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.correct) {
            //alert("Actualizo la marca del producto");
          }
          else {
            //alert("Problema al actualizar la marca del producto");
          }
        }
      });
    });

    var table = $('.table-product').DataTable({
    "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Mostrar _MENU_ registros",
            "sZeroRecords":   "No se encontraron resultados",
            "sEmptyTable":    "Ningún dato disponible en esta tabla",
            "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
    });

{% endblock %}
